@media (max-width: 1024px) {
    .swiper-button-next::after {
        position: absolute;
        right: -40px; /* Вынесено за пределы карусели */
        color: black;
    }

    .swiper-button-prev::after {
        position: absolute;
        left: -40px; /* Вынесено за пределы карусели */
        color: black;
    }

}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .nav-list {
        margin-top: 20px;
        gap: 10px;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .features, .pricing-cards {
        flex-direction: column;
    }

    .feature, .pricing-card {
        margin-bottom: 30px;
    }

    .footer-section {
        flex-basis: 100%;
    }

    .swiper-button-next::after {
        position: absolute;
        right: -40px; /* Вынесено за пределы карусели */
        color: black;
    }

    .swiper-button-prev::after {
        position: absolute;
        left: -40px; /* Вынесено за пределы карусели */
        color: black;
    }

}

@media (max-width: 480px) {
    .nav-list {
        display: none;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .btn-large {
        padding: 12px 24px;
        font-size: 16px;
    }
}